body {
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 1) 0, rgba(255, 252, 252, 1) 30%, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 1) 33%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0) 100%), linear-gradient(-90deg, rgba(255, 0, 0, 1) 0, rgba(255, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 46%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 56%, rgba(255, 255, 255, 1) 100%);
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 1) 0, rgba(255, 252, 252, 1) 30%, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 1) 33%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 0, 0, 1) 0, rgba(255, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 46%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 56%, rgba(255, 255, 255, 1) 100%);
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 1) 0, rgba(255, 252, 252, 1) 30%, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 1) 33%, rgba(255, 255, 255, 1) 34%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 0, 0, 1) 0, rgba(255, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 46%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 56%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.sticky {
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.left {
    padding-left: 10px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
}

#welkomButton {
    margin: 10px;
}

#teamBuilderButton {
    margin: 10px;
}

#battle {
    margin: 10px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 10px;
}

@media screen and (max-width: 899px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        justify-content: center;
        padding: 0px;
    }

    .right {
        margin-top: 10px;
        justify-content: center;
    }
}

#teamBuilderButton {
    margin-right: 10px;
}

#searchInput::placeholder {
    color: #000;
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    bottom: 0;
    top: 0;
    color: #f1f1f1;
    width: 100%;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 50px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-container {
    background-color: rgb(210, 68, 254);
    border-radius: 8px;
    box-shadow: white;
    padding: 15px;
    text-align: center;
}

.pokemon-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.pokemon-container h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.pokemon-container p {
    font-size: 14px;
    color: white;
    margin-bottom: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(227, 143, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(210, 68, 254);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#scrollToTopBtn:hover {
    background-color: rgb(0, 0, 255);
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.icon {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: auto;
    transition: 200ms all;
}

.icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icons {
    position: relative;
    display: inline-block;
}

.icons #typeInfo {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.icons:hover #typeInfo {
    visibility: visible;
    opacity: 1;
}

.bug {
    background: #92BC2C;
}

.dark {
    background: #595761;
}

.dragon {
    background: #0C69C8;
}

.electric {
    background: #F2D94E;
}

.fire {
    background: #FBA54C;
}

.fairy {
    background: #EE90E6;
}

.fighting {
    background: #D3425F;
}

.flying {
    background: #A1BBEC;
}

.ghost {
    background: #5F6DBC;
}

.grass {
    background: #5FBD58;
}

.ground {
    background: #DA7C4D;
}

.ice {
    background: #75D0C1;
}

.normal {
    background: #A0A29F;
}

.poison {
    background: #B763CF;
}

.psychic {
    background: #FA8581;
}

.rock {
    background: #C9BB8A;
}

.steel {
    background: #5695A3;
}

.water {
    background: #539DDF;
}

.pokemon-type {
    width: 90px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.info-button {
    background-color: #3498db;
    color: #fff;
}

.close-btn {
    background-color: maroon;
    color: #fff;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}